/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvh;
  font-family: var(--font-family, sans-serif);
  font-variation-settings: "wght" var(--font-weight);
  color: var(--accent-color, #000000);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--bg-color, #fff);
}

.header {
  background-color: var(--bg-color, #fff);
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  padding-block-start: 136px;
  padding-block-end: 25px;
  font-family: var(--accent-font-family, fantasy);
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  width: clamp(375px, 70%, 700px);
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #fff);
}

.logo {
  display: block;
  text-align: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
  text-decoration: none;
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  margin-inline-start: 16px;
}

.theme-menu__button,
.card__icon-button,
.card__like-button {
  border: none;
  background-color: var(--bg-color, #fff);
}

.theme-menu__button {
  text-transform: uppercase;
  display: flex;
  height: 14px;
  position: relative;
  padding: 0;
  transition: 0.3s ease;
}

/*Состояния кнопок меню*/

button:disabled,
.theme-menu__button:hover {
  opacity: 0.6;
}

button:disabled {
  pointer-events: none;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__item:has(button:disabled)::before {
  position: absolute;
  content: "▶";
  left: -19px;
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  opacity: 0.6;
}


.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 17px;
  background-color: var(--accent-color, #000);
  transform: scaleX(0);
  transform-origin: top left;
  transition: 0.3s ease;
  position: absolute;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/*КАРТОЧКИ*/

.main-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-block-end: 103px;
}

h2 {
  line-height: 23px;
  padding: 3px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight, 700);
}

.image-container {
  position: relative;
  border-top: 2px solid var(--accent-color, #000);
  border-bottom: 2px solid var(--accent-color, #000);
}

.image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

/*Раскрашиваем картинки по порядку*/

.sepia {
  filter: sepia(80%);
}

.saturate-brightness {
  filter: saturate(158%) brightness(150%);
}

.invert {
  filter: invert(0.7);
}

.hue-rotate-plus {
  filter: brightness(200%) saturate(60%) hue-rotate(90deg);

}

.hue-rotate-minus {
  filter: brightness(200%) saturate(60%) hue-rotate(-90deg);
}

.saturate-max {
  filter: saturate(300%);
}

.blur {
  filter: blur(7px);
}

.contrast {
  filter: contrast(250%)
}


.watermark {
  position: absolute;
  top: 25px;
  right: clamp(0.8125rem, 0.5484rem + 1.1268vw, 1.5625rem);
  font-family: var(--accent-font-family, fantasy);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--bg-color, #fff), 0 1px var(--bg-color, #fff), 1px 0 var(--bg-color, #fff), 0 -1px var(--bg-color, #fff);
}

@supports(-webkit-text-stroke: 1px var(--bg-color, #fff)) {
  .watermark {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
  line-height: 21px;
  font-size: 18px;
}

.card-button {
  display: flex;
  justify-content: end;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  font-size: 14px;
  align-items: center;
  gap: 4px;
}

.button {
  border: 2px solid var(--accent-color, #000000);
  padding: 9px 17px;
  min-width: 130px;
  position: relative;
  z-index: 0;
  background-color: var(--bg-color, #fff);
  transition: 0.3s ease;
}

.button__text {
  font-family: var(--accent-font-family, fantasy);
  position: relative;
}

/*Состояние кнопок*/

.button::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: var(--btn-hover-color, #fff);
  mix-blend-mode: difference;
  transform: scaleX(0);
  transform-origin: top left;
  transition: 0.5s ease-in-out;
}

.button:hover::after {
  transform: scaleX(1);
  border: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000000);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 38px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000000);
}

.card__like-button {
  height: 38px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 13px 18px;
  font-size: 14px;
  line-height: 90%;
  align-self: center;
}

/*Настройки мобильной версии*/

@media (width <=375px) {
  .container {
    width: 100%;
  }

  .header {
    padding-block-start: 120px;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button svg {
    width: 28px;
    height: 28px;
  }
}

/*Диалоговое окно*/

dialog {
  inline-size: 353px;
  border: 2px solid var(--accent-color, #000000);
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000000);
  font-family: var(--accent-font-family, fantasy);
  inset: 0;
  position: fixed;
  padding: 30px;
}

.dialog-content {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 20px;
  margin-block-end: 20px;
}

.dialog-content .floppy-svg {
  width: 39px;
  height: 39px;
}

.dialog-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-button {
  width: 100%;
  height: 38px;
  line-height: 90%;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color);
}

dialog::backdrop {
  background: #000;
  opacity: 0.75;
}